.hero {
  position: relative;
  top: 80px;
  width: auto;
  height: 500px;
  background-repeat: no-repeat;
  background-color: #101010;
}
.img img {
  margin-left: 800px;
  border-radius: 20px;
  border: 1px solid white;
  height: 400px;
  width: 400px;
  border-radius: 30px;
  object-position: top;
  object-fit: cover;
}
.welcom-word {
  position: absolute;
  line-height: 10px;
  font-size: 24px;
  font-weight: bold;
  top: 120px;
  left: 150px;
  color: white;
}

.welcom-word > p {
  margin-bottom: 50px;
  font-weight: 100;
}
.change-word {
  font-weight: bold;
  color: red;
  display: inline-block;
  transition: transform 0.5s ease, opacity 0.5s ease;
  opacity: 1;
}
.change-word.hidden {
  transform: translateY(-20px);
  opacity: 0;
}
header {
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  /* gap: 600px; */
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  z-index: 100;
}
.header.scrolled {
  background-color: #191919;
  color: white;
}
.header-css {
  width: 100%;
  margin-left: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
}
.header-css img {
  height: 60px;
  width: 60px;
  object-fit: cover;
  border-radius: 100px;
  border: 2px solid transparent;
}
.header-css > nav > button {
  font-size: 20px;
}
.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px; /* Khoảng cách giữa các nút */
}

.nav button {
  background-color: transparent; /* Màu nền của nút */
  padding: 10px 15px; /* Khoảng cách bên trong */
  margin: 0 5px; /* Khoảng cách giữa các nút */
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: color 0.5s ease;
}

.nav button:hover,
.nav button.hovered {
  color: #ff4081;
  border-bottom: 3px solid #ff4081;
}
.social-logo {
  display: flex;
  gap: 24px;
}

.social-logo a {
  text-decoration: none;
  font-size: 26px;
}

.social-logo img {
  border-radius: 100px;
  width: 32px;
  height: 32px;
}
.social-logo img,
.social-logo a {
  transition: ease 0.3s;
}
.social-logo a:hover {
  transform: translateY(-3px);
  background-color: #ff408055;
  border-radius: 100px;
}
.header.scrolled {
  background-color: #191919;
  color: white;
}

/* Menu di động */
.menu-button {
  display: none;
  background: none;
  border: none;
  font-size: 30px;
  color: white;
  cursor: pointer;
}

.nav {
  display: flex;
  gap: 20px;
}
.nav.open {
  opacity: 0.9;
}
.nav-item {
  display: flex; /* Flexbox để bố trí các nút điều hướng */
  gap: 20px; /* Khoảng cách giữa các nút */
}
.nav button {
  background-color: transparent;
  padding: 10px 15px;
  margin: 0 5px;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: color 0.5s ease;
}

.nav button:hover,
.nav button.hovered {
  color: #ff4081;
  border-bottom: 3px solid #ff4081;
}

.social-logo {
  display: flex;
  gap: 24px;
}

.social-logo a {
  text-decoration: none;
  font-size: 26px;
}

.social-logo img {
  border-radius: 100px;
  width: 32px;
  height: 32px;
}

.social-logo img,
.social-logo a {
  transition: ease 0.3s;
}

.social-logo a:hover {
  transform: translateY(-3px);
  background-color: #ff408055;
  border-radius: 100px;
}

@media (max-width: 768px) {
  .hero {
    top: 0;
  }
  .welcom-word h1 {
    line-height: 40px;
    font-size: 1.4em;
  }
  .welcom-word p {
    line-height: 40px;
  }
  .welcom-word {
    left: 50px;
  }
  .nav {
    display: none; /* Ẩn menu trên mobile */
    flex-direction: column;
    background-color: #191919;
    position: absolute;
    top: 60px;
    right: 0;
    width: 200px;
    padding: 20px;
  }

  .nav.open {
    display: flex; /* Hiển thị menu khi bấm nút */
  }

  .menu-button {
    display: block; /* Hiển thị nút menu trên điện thoại */
  }

  .nav-item {
    flex-direction: column; /* Sắp xếp các nút theo cột trên mobile */
    gap: 10px; /* Khoảng cách giữa các button */
  }

  .social-logo {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .header-css {
    justify-content: space-between;
  }
}
