.project-block {
  display: flex;
  flex-direction: column;
  background-color: #191919;
  padding: 100px 20px 150px 20px; /* Thêm khoảng cách bên trong cho khối */
  border-radius: 8px; /* Bo tròn góc cho khối */
}

.project-title {
  width: 100%;
  color: white;
  display: inline-block;
  text-align: center;
  margin-bottom: 100px; /* Thêm khoảng cách dưới tiêu đề */
  font-size: 2.5em; /* Kích thước chữ tiêu đề */
}
.project-banner {
  width: 100%;
  padding: 100px 0px;
  color: white;
  display: inline-block;
  text-align: center;
  margin-bottom: 20px; /* Thêm khoảng cách dưới tiêu đề */
}
.project-block-item {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  flex-wrap: wrap;
}

.project {
  position: relative;
  margin: 20px;
  width: 350px;
  height: 400px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s;
}
.project img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: ease 0.3s;
  opacity: 0.3;
}
.project:hover,
.project img:hover {
  object-position: 50% 70%;
  transform: scale(1.05);
}

.project-content {
  position: absolute;
  text-align: center;
  top: 50%;
  right: 10%;
  color: white;
  margin: 10px 0;
}
.project-content h2 {
  font-size: 16px;
  font-weight: 100;
}
.project-content p {
  font-size: 24px;
}
.project a {
  border-radius: 10px;
  padding: 10px;
  border: 2px solid hsla(0, 0%, 100%, 0.3);
  text-decoration: none;
  color: white;
}

.project a:hover {
  transform: scale(1.05);
  border-radius: 10px;
  border: 2px solid #f9004d;
  background-color: #f9004d;
  transition: ease 0.3s;
}
/* Responsive adjustments for project block */
@media (max-width: 1024px) {
  .project-block {
    width: 100vw;
    padding: 50px 10px; /* Giảm padding */
  }

  .project {
    width: 100%; /* Đảm bảo khối dự án chiếm toàn bộ chiều rộng màn hình */
    height: auto;
  }
  .project-content {
    right: 50%;
    transform: translate(50%, -60%);
  }
  .project-content h2 {
    font-size: 14px;
  }

  .project-content p {
    font-size: 20px;
  }
}
