/* src/components/Skill.css */
.skills-list {
  width: 80%;
  margin: 70px auto;
  display: flex;
  flex-direction: column;
  padding: 0px 0px 120px;
  justify-content: center;
}
.skills-list h1 {
  color: white;
  margin: 100px 0px;
  font-size: 40px;
  text-align: center;
}
.skills-container {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: start;
  flex-wrap: wrap;
  gap: 40px;
}

.skill-container {
  width: 300px;
  padding: 30px;
  border-radius: 30px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: #191919;
  margin: 20px 0;
  transition: ease 0.3s;
}
.skill-container:hover {
  transform: translateY(-10px);
  background-color: #e1270b;
}
.skill-container:hover p.icon-logo {
  color: white;
}
.skill-container:hover .skill-fill {
  background-color: white;
}
.skill-container:hover .skill-bar {
  background-color: #191919;
}
.icon-logo {
  border-radius: 100px;
  font-size: 52px;
  color: #e1270b;
}
.skill-info {
  flex: 1; /* Cho phép thông tin chiếm toàn bộ không gian còn lại */
}

.skill-title {
  font-size: 1.5em; /* Kích thước tiêu đề */
  margin: 0; /* Xóa khoảng cách mặc định */
}

.skill-description {
  margin: 5px 0; /* Khoảng cách giữa mô tả và các phần tử khác */
}

.skill-bar {
  width: 150px;
  background-color: #e0e0e0; /* Màu nền cho thanh tiến trình */
  border-radius: 5px; /* Bo tròn các góc */
  height: 5px; /* Chiều cao của thanh tiến trình */
  overflow: hidden; /* Ẩn phần tràn ra ngoài */
  margin: 10px 0; /* Khoảng cách giữa thanh và các phần tử khác */
  transition: ease 0.5s;
}

.skill-fill {
  background-color: #e1270b; /* Màu của phần đã fill trong thanh */
  height: 100%; /* Chiều cao của phần fill */
  transition: width 0.5s; /* Hiệu ứng chuyển động khi thay đổi chiều rộng */
}

.skill-percentage {
  font-weight: bold;
}
/* Responsive adjustments for skills list */
@media (max-width: 914px) {
  .skill-container {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .skills-list {
    padding: 40px 0px 60px;
  }

  .skills-container {
    width: 100vw;
    flex-direction: column; /* Chuyển đổi từ hàng sang cột */
    align-items: center;
  }

  .skill-container {
    width: 90%;
    margin: 10px 0; /* Giảm khoảng cách giữa các khối */
  }
}

@media (max-width: 1024px) {
  .skills-list h1 {
    font-size: 30px; /* Giảm kích thước tiêu đề */
  }

  .icon-logo {
    font-size: 40px; /* Giảm kích thước biểu tượng */
  }

  .skill-title {
    font-size: 1.3em;
  }

  .skill-bar {
    width: 100px;
  }
}
