/* styles.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #101010;
}

header {
  color: #fff;
  padding: 10px 20px;
  text-align: center;
}

nav {
  margin-top: 10px;
}
